@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <h1>Política de Privacidade</h1>
    <p>Bem-vindo à nossa Política de Privacidade. Esta página explica como lidamos com as informações dos nossos utilizadores e como protegemos a sua privacidade.</p>

    <h3>1. Informações que Recolhemos</h3>
    <p>Recolhemos informações que você nos fornece diretamente, como o seu nome, email e qualquer outra informação que você insira ao utilizar os nossos serviços.</p>

    <h3>2. Utilização das Informações</h3>
    <p>Utilizamos as suas informações para fornecer, manter e melhorar os nossos serviços. As informações que recolhemos não serão partilhadas com terceiros sem a sua autorização, exceto quando necessário para o cumprimento de obrigações legais.</p>

    <h3>3. Segurança das Informações</h3>
    <p>Implementamos medidas de segurança para proteger as suas informações pessoais contra acesso não autorizado, alterações e divulgação.</p>

    <h3>4. Direitos do Utilizador</h3>
    <p>Você tem o direito de aceder, corrigir ou eliminar as suas informações pessoais armazenadas por nós. Para exercer esses direitos, por favor entre em contacto connosco através dos meios fornecidos.</p>

    <h3>5. Alterações a Esta Política</h3>
    <p>Reservamo-nos o direito de atualizar esta política de privacidade a qualquer momento. Notificaremos os utilizadores de alterações importantes através do nosso site.</p>

    <h3>Contacte-nos</h3>
    <p>Se tiver alguma dúvida sobre a nossa política de privacidade, entre em contacto connosco através do nosso email <a href="mailto:suporte@cargarage.com">suporte@cargarage.com</a>.</p>
</div>
