@{
    ViewData["Title"] = "Criar Anúncio";
}

<h1>Criar Anúncio</h1>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="imageFile">Escolher imagem</label>
        <input type="file" name="imageFile" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>

@if (ViewBag.ImagePath != null)
{
        <h3>Imagem Carregada:</h3>
        <img src="@ViewBag.ImagePath" alt="Imagem do anúncio" style="max-width: 100%; height: auto;" />
}
